<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>770763154225-csl7j28u617aodiqu2q0ehl75cjjmj9m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.770763154225-csl7j28u617aodiqu2q0ehl75cjjmj9m</string>
	<key>API_KEY</key>
	<string>AIzaSyC174D72Z-e60FW-e2yu19_u-yuBrb-Vs8</string>
	<key>GCM_SENDER_ID</key>
	<string>770763154225</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scholacore.mapUpdate</string>
	<key>PROJECT_ID</key>
	<string>mapupdate-5efcc</string>
	<key>STORAGE_BUCKET</key>
	<string>mapupdate-5efcc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:770763154225:ios:10612fd48617388a</string>
	<key>DATABASE_URL</key>
	<string>https://mapupdate-5efcc.firebaseio.com</string>
</dict>
</plist>